/************************************************
General Setting
************************************************/

/***********************
Browser reset
***********************/

*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/************************************************
Body
************************************************/

/***********************
Grid rules
***********************/
.container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 50px);
}

.display {
    grid-column: span 4;
    border: 1px solid black;
}

.span-two {
    grid-column: span 2;
}